* {
 box-sizing: border-box;
}

.dropdown {
    background-color: grey;
    z-index: 1;

}

h1 {
    text-align: center;
    margin-top: 3rem;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;  
}

#play {
    background-color: rgb(223, 156, 89);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


.game-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;

}

.option {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 8rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover,
.option:active {
    opacity: 0.7;
}

.show-winner {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
}


.show_round-winner {
    text-align: center;
    font-size: 1.5rem;
}

.show-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

img {
    width: 20rem;
    height: 20rem;
    
}

.computer-icon {
    transform: scaleX(-1);
}

.show-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play_again-file {
    display: none;
    position: absolute;
    left: 40%;
    bottom: 50%;
    z-index: 2;
    background-color: rgb(248, 214, 163);
    width: clamp(25rem, 8vw, 60rem);
    height: 15vw;
    text-align: center;
}